@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

nav ul a {
    width: 100%;
    flex-direction: column;
    flex-flow: wrap;
    height: auto;
}

.test 
{flex-direction: column;
width: 430px;
height: auto;
margin-left: auto;
margin-right: auto;}

.titleArticle {
margin-top: 30px;
}


a, form{
    display: none;
}

#navicon{
    display: block;
    color: white;
}


}