@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    .test 
    {flex-direction: column;
        width: 430px;
    height: auto;
    margin-left: auto;
    margin-right: auto;}
    
    .titleArticle {
    margin-top: 30px;
    }
    
nav ul {
    flex-flow: wrap;
    height: 80px;
    padding-bottom: 20px;
}

#forsmall {
    height: 40px;
    width: 420px;
    padding-top: 20px;
    align-items: center;

    
}

}