.formIdentity {
    background-color: #2980b9;
    padding: 15px;
}

.formAdress {
    background-color: #d009e2;
    padding: 15px;
}

.formCash {
    background-color:#f51472;
    padding: 15px;
}

#formTitle {
    display: inline;
    margin-left: 15px;
}

#formTitleText {
    background-color: #2980b9;
    display: inline;
}

#formTitleText2 {
    background-color: #d009e2;
    display: inline;
}

#formTitleText3 {
    background-color: #f51472;
    display: inline;
}
