.textBold{
font-weight:bold;
}

.textItalic {
font-style:italic;
}

.textRed {
color:red;
}

.textGreen {
    color:#00FF00;
}

.TableAstroList{
border: 1px solid black;}

.textCenter {
    text-align: center;
}

#titleText
{text-align: center;}

.textArial {
    font-family: Arial
}

.backgroundBlue {
    background-color: rgb(89, 130, 253);
}

#mybodypicture{
    background-image: url("../images/beach.png");
    background-size: cover;
    background-attachment: fixed;
}

#titleSea {
    font-size: 120px;
    text-align: center;
    color: rgb(157, 213, 245);
}

#textIntro {
    margin: 10px;
}

.paddingAndBackground {
    padding: 10px;
    background-color: rgb(89, 130, 253);
}

.backgroundGreen {
    background-color: #2ecc71:
}

.backgroundBlue1 {
    backgroundcolor: #2980b9;
}
.backgroundcolorRed1{
    backgroundcolor:#e74c3c;
}

.backgroundcolorOrange1{
    backgroundcolor: #e67e22;
}

.backgroundcolorGrey1 {
    backgroundcolor: #95a5a6;
}

.backgroundcolorYellow {
    backgroundcolor: #f39c32;
}

.backgroundcolorBlueGreen {
    backgroundcolor: #16a085; 
}

.backgroundcolorOrange2 {
    backgroundcolor: #d35400;}

    .backgroundcolorDarkGrey {
backgroundcolor: #2c3e50
    }
}